body {
  background-color: salmon;
  font-family: 'Lato', sans-serif;
}

#post-container,
#user-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#post-container div,
#user-container div {
  background-color: white;
  border-radius: 5px;
  color: #333;
  padding: 1rem;
  margin: 1rem;
}

span {
  color: blue;
}
