body {
  background-color: salmon;
  font-family: 'Lato', sans-serif;
}

#post-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#post-container div {
  background-color: white;
  border-radius: 5px;
  color: #333;
  padding: 1rem;
  margin: 1rem;
}
