* {
  /* margin-bottom: 20px; */
  /* text-align: center; */
  text-align: center;
}

body {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
}

h1 {
  font-size: 4rem;
  display: inline-block;
  /* margin-top: 10%; */
}

span {
  display: inline-block;
}

.large-title {
  font-size: 8rem;
  color: aquamarine;
}

.ball-question h2 {
  margin-top: 3rem;
}

.ball8-img {
  max-height: 100px;
}

#question-input {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 20px;
}
