* {
  /* margin-bottom: 20px; */
  text-align: center;
}

body {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: '';
}

h1 {
  font-size: 4rem;
  display: inline-block;
  /* margin-top: 10%; */
}

span {
  display: inline-block;
}

.large-title {
  font-size: 8rem;
  color: aquamarine;
  animation: pulsate 1s ease-in-out infinite;
}

.ball-question h2 {
  margin-top: 3rem;
}

.ball8-img {
  max-height: 150px;
}

@keyframes pulsate {
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

#question-input {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 20px;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.shake {
  animation: shake 0.5s linear infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.animate {
  animation: animate 0.4s ease-in-out infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  50% {
    transform: scale(1.2);
  }

  75% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#loader {
  width: 30px;
  height: 30px;
  box-shadow: 2px 2px lawngreen;
  position: relative;
  top: -30px;
  margin: 0 auto;
  border: 7px solid #1e1b1c;
  border-radius: 50%;
  border-top: 7px solid #00ffe5;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
